body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin: 0px;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "h h h h h h h h"
  "n n n n n n n n"
  "s m m m m m m m"
  "s m m m m m m m"
  "s m m m m m m m"
  "s m m m m m m m"
  "s m m m m m m m"
  "f f f f f f f f"
  ;
}

header {
  background-color: aqua;
  grid-area: h;
}

nav {
  background-color: blueviolet;
  grid-area: n;
}

aside {
  background-color: green;
  grid-area: s;
}

section {
  background-color: greenyellow;
  grid-area: m;
}

footer {
  background-color: lightseagreen;
  grid-area: f;
}
